@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Times New Roman', Times, serif;
}

html, body{
    background-color: darkgray;
    min-height: 100vh;
}

header{
    color: white;
    background-color: black;
    text-align: center;
    font-size: 3vw;
}

header > h1{
    padding-top: 50px;
    /* fonte diferente */
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3vw;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    background-color: rgb(44, 44, 44);
    color: white;
    box-shadow: 6px 6px 13px 0px rgba(0 ,0 ,0 , 0.473);
    background-size: cover;
    background-attachment: fixed;
}

.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(7, 7, 7, 0.377);
    text-shadow: 1px 1px 0px rgb(20, 20, 20);
}

section#img01{
    background-image: url(/html-css-modulo3/desafio1/imagens/background001.jpg);
    background-position: right center;
}

section#img02{
    background-image: url(/html-css-modulo3/desafio1/imagens/background002.jpg);
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 15px;
}