@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html, body{
    background-color: darkgray;
    min-height: 100vh;
}

header{
    color: white;
    background-color: black;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    /* fonte diferente */
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    background-color: black;
    color: white;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 15px;
}