body{

}

a{
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-weight: bold;

}

a:hover{
    text-decoration: underline;
    color: black;
}

a:active{
    color: blue;
}

a::after{
    content: '[Link]';
    text-decoration: none;
    font-style: normal;
    color: darkgray;
}